<!-- Generated template for the ShoppingCartDetailComponent component -->
  
<md-input-container>
                <ion-item>
              </ion-item>
                <ion-item>
                  <ion-label>Data Acquisto</ion-label>
                  <ion-datetime  [(ngModel)]="selectedCart.dataAcquisto">
                  </ion-datetime>
                </ion-item>
                    <data-fiscale [(dataAcquisto)]=selectedCart.dataAcquisto  ></data-fiscale>
              </md-input-container>
<div class=" ui form" [formGroup]="cartForm">
  <ion-label>{{ this.cartForm.controls.online.value|switchText:'acquisto onLine':'acqisto tradizionale'}}</ion-label>
  <ion-icon name="body" *ngIf="!cartForm.controls.online.value"></ion-icon> <ion-icon name="paper-plane" *ngIf="cartForm.controls.online.value"></ion-icon> 
                  <ion-toggle formControlName="online"[(ngModel)]="selectedCart.online"></ion-toggle>
        

                  <selector class="fornitore"[fieldId]= "selectedCart.fornitoreId" [component]="selectorProvider" [label]="labelFornitore" (selected)="eventFornitore($event)"></selector>
                  <selector class="pagamento" [fieldId]= "selectedCart.pagamentoId" [component]="selectorPayment" [label]="labelPagamento"(selected)="eventPagamento($event)"></selector>
    <label>Totale</label>
    <h2>
      <totale-spesa [items]="selectedCart.items" [sconto]="selectedCart.sconto" [moneta]="selectedCart.moneta" (calculatedTotal)="calculatedTotal($event)"></totale-spesa></h2>
      
    <label for="addebito">Note</label>
    <ion-input type="text" id="noteInput" placeholder="note" formControlName="note"[(ngModel)]="selectedCart.note">
    </ion-input>
  </div>
  <section class="acquisti">
           <discount [sconto]="selectedCart.sconto" (Sconto)="Sconto($event)"></discount>
  <ion-list>
    <ion-fab top right >
   <button ion-fab color="primary" (click)="addItem()"><ion-icon name="basket"></ion-icon>
   </button>
 </ion-fab>
        <ion-item-sliding *ngFor="let item of selectedCart.items" >
          <ion-item><article><h2>{{item.descrizione}}  {{item.moneta}} {{item.prezzo}}</h2><h3>{{item.quantita}}</h3>
           </article><ion-icon class='drag' name="more"></ion-icon></ion-item>
  <ion-item-options side="right">
      <button ion-button (click)="update(item)"><ion-icon name="eye"></ion-icon>wiev</button>
      <button ion-button color="danger" (click)="delete(item,slidingItem )"><ion-icon name="remove-circle"></ion-icon>Remo</button>
    </ion-item-options>
        </ion-item-sliding>
      </ion-list>
      <ion-button><ion-icon name="refresh"*ngIf="removedItem" (click)="restoreItem()"></ion-icon> </ion-button>
    </section>
    <button ion-button full (click)="save(selectedCart)"><ion-icon name="archive"></ion-icon></button>

