<div>
    <selected-item [fieldId]=fieldId [db]=db >
    </selected-item>
    <field-filter [placeholder]=placeholder (doFilter)="doFilter($event.filterString)">
    </field-filter>
  </div>
  <div class="list elenco">
    <list-items [items]=items (selected)="selectedEvent($event) " [filterString]=filterString *ngIf="filterString">
        
    </list-items>
    <p *ngIf="item|async as item" >{{label}}:<b>{{item.nome}}</b></p>
    <div class="loader-wrapper" id="loader-3" *ngIf="spinning" >
        <div id="loader"></div>
        <div id="loader"></div>
        <div id="loader"></div>
        <div id="loader"></div>
        <div id="loader"></div>
    </div>
  </div>