category-sum {
    p {
        border: solid 1px;
        width: 4em;
        color: red;
        position: relative;
        left: 22em;
        top: -4em;
        border-radius: 2.8em;
        text-align: center;
        background: #00e9c3;
    }

}
