category-counter {
    p {
        border: solid 1px;
        width: 1.5em;
        text-align: center;
        background: #00e9d5;
        top: -3em;
        border-radius: 5px;
        left: 19em;
        position: relative;
        font-weight: bold;
    }

}
