<!-- Generated template for the ItemDetailComponent component -->
<div class=" ui form" [formGroup]="ItemForm">
    <ion-label>Descrizione</ion-label>
    <ion-input type="text" id="descrizioneInput" placeholder="descrizione" formControlName="descrizione"></ion-input>

    <ion-label>Prezzo</ion-label>
    <ion-input type="number" id="prezzoInput" placeholder="prezzo" formControlName="prezzo"></ion-input>{{item.moneta}}
    <ion-label>barcode</ion-label>
    <ion-input type="string" id="barcodeInput" placeholder="barcode" formControlName="barcode"></ion-input>
</div>

<button ion-button full><ion-icon name="done"></ion-icon></button>
