categories-list-item {
    .update{
        color:red
    }
    input.text-input.text-input-md {
        border: solid 1px black;
        width: auto;
        border-radius: 8px;
        background: #00e9d5;
        text-align: center;
    }
    
    

}
