<article>
<ion-item class=" article ui form" [formGroup]="myForm">
  <ion-input type= "text" placeholder="category" formControlName="categoria" id="inputCategoria">
  </ion-input>
  
</ion-item>
<category-counter [dataFilter]="filter" [categoryId]="categoria.id" [shoppingCartDateFilter]="shoppingCartDateFilter" >
</category-counter>
<category-sum [dataFilter]="filter" [categoryId]="categoria.id" [shoppingCartDateFilter]="shoppingCartDateFilter"></category-sum>
<category-item [CategoryId]="categoria.id"></category-item>
<category-item-available [CategoryId]="categoria.id"></category-item-available>
<category-item-selected [CategoryId]="categoria.id"></category-item-selected>
</article>