page-shopping-carts {
    .smallList{
        width:340px
    }
    .bigList{
        width:100%
    }
    .shoppingCartDetail {
        position: fixed;
        left: 35em;
    }

    ion-fab {
        position: fixed;
    }

}
