payment-item-list {
h1{
    text-align: center
}
section.addebito {
    text-align: left;
}
section.totale {
    text-align: right;
}
    ion-chip.chip.chip-md {
        background: #00e9d5;
    }

}
